@model Assignment
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<div class="row">
    <div class="col-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="AssignmentID"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label><br/>
                <input asp-for="Date" class="form-control" type="date" />
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-block"/>
            </div>
        </form>
    </div>
</div>

<div class="btn-block">
    <form class="btn-block" asp-action="GetAll">
        <input type="submit" value="Cancel"/>
    </form>
</div>

